<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.js"></script>
<!-- <form class="form-inline">
  <div class="form-group">
    <label>Search Event</label>
    <input type="text" ng-model="search.id=x" class="form-control" placeholder="Search Event">
  </div>
</form> -->
<!-- uib-dropdown on-toggle="toggled(open)" -->
<!-- uib-dropdown-menu aria-labelledby="simple-dropdown" -->
<!-- <select>
      <option ng-init="x"ng-click="x=0">--Select--</option>
    <option ng-repeat="choice in items">{{choice.type}}</option>
</select> -->
<!-- <span uib-dropdown on-toggle="toggled(open)" ng-model="search.id=x">
  <a href id="simple-dropdown" uib-dropdown-toggle>
    Select Type
  </a>
  <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
    <li>
      <a href ng-click="f(0)">--Select--</a>
    </li>
    <li ng-repeat="choice in items">
      <a href ng-click="f(choice.id)">{{choice.type}}</a>
    </li>
  </ul>
</span>
<p>
  {{x}}
</p> -->
      <div layout="row" layout-align="space-between center">
          <md-select ng-model="search.id" placeholder="Select" class="md-no-underline">
            <md-option value="">-Select-</md-option>
            <md-option value="{{choice.id}}" ng-repeat="choice in items">{{choice.type}}</md-option>
         </md-select>
      </div>
      <p>
        {{y}}
      </p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th ng-click="sort('id')">Id
        <span class="glyphicon sort-icon" ng-show="sortKey=='sendGridEmailLogID'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('sendGridEmailLogID')">LogId
        <span class="glyphicon sort-icon" ng-show="sortKey=='sendGridEmailLogID'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('created')">created
        <span class="glyphicon sort-icon" ng-show="sortKey=='created'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('email')">email
        <span class="glyphicon sort-icon" ng-show="sortKey=='email'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('event')">event
        <span class="glyphicon sort-icon" ng-show="sortKey=='event'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('ip')">ip
        <span class="glyphicon sort-icon" ng-show="sortKey=='ip'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('reason')">reason
        <span class="glyphicon sort-icon" ng-show="sortKey=='reason'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('subject')">subject
        <span class="glyphicon sort-icon" ng-show="sortKey=='subject'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('type')">type
        <span class="glyphicon sort-icon" ng-show="sortKey=='type'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('sendGridUTC')">sendGridUTC
        <span class="glyphicon sort-icon" ng-show="sortKey=='sendGridUTC'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('sendGridPST')">sendGridPST
        <span class="glyphicon sort-icon" ng-show="sortKey=='sendGridPST'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('sendGridUTCDisplay')">sendGridUTCDisplay
        <span class="glyphicon sort-icon" ng-show="sortKey=='sendGridUTCDisplay'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('sendGridPSTDisplay')">sendGridPSTDisplay
        <span class="glyphicon sort-icon" ng-show="sortKey=='sendGridPSTDisplay'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('employeeName')">employeeName
        <span class="glyphicon sort-icon" ng-show="sortKey=='employeeName'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('clientName')">clientName
        <span class="glyphicon sort-icon" ng-show="sortKey=='clientName'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('ein')">ein
        <span class="glyphicon sort-icon" ng-show="sortKey=='ein'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('status')">status
        <span class="glyphicon sort-icon" ng-show="sortKey=='status'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('dateSent')">dateSent
        <span class="glyphicon sort-icon" ng-show="sortKey=='dateSent'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
      <th ng-click="sort('emailSent')">emailSent
        <span class="glyphicon sort-icon" ng-show="sortKey=='emailSent'"
          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr dir-paginate="d in data|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
      <td>{{d.id}}</td>
      <td>{{d.sendGridEmailLogID}}</td>
      <td>{{d.created}}</td>
      <td>{{d.email}}</td>
      <td>{{d.event}}</td>
      <td>{{d.ip}}</td>
      <td>{{d.reason}}</td>
      <td>{{d.subject}}</td>
      <td>{{d.type}}</td>
      <td>{{d.sendGridUTC}}</td>
      <td>{{d.sendGridPST}}</td>
      <td>{{d.sendGridUTCDisplay}}</td>
      <td>{{d.sendGridPSTDisplay}}</td>
      <td>{{d.employeeName}}</td>
      <td>{{d.clientName}}</td>
      <td>{{d.ein}}</td>
      <td>{{d.status}}</td>
      <td>{{d.dateSent}}</td>
      <td>{{d.emailSent}}</td>
    </tr>
  </tbody>
</table>
<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
</dir-pagination-controls>