<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.4.js"></script>
<form class="form-inline">
    <div class="form-group">
        <label >Search</label>
        <input type="text" ng-model="search.movie" class="form-control" placeholder="Search">
    </div>
</form>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th ng-click="sort('id')">Id 
                <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span> 
            </th>
            <th ng-click="sort('movie')">Movie
                <span class="glyphicon sort-icon" ng-show="sortKey=='movie'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('icon')">Icon
                <span class="glyphicon sort-icon" ng-show="sortKey=='icon'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('name')">Name
                <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('actors')">Actors
                <span class="glyphicon sort-icon" ng-show="sortKey=='actors'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('artist')">Artist
                <span class="glyphicon sort-icon" ng-show="sortKey=='artist'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('releasedon')">Releasedon
                <span class="glyphicon sort-icon" ng-show="sortKey=='releasedon'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('songs_url')">Song url
                <span class="glyphicon sort-icon" ng-show="sortKey=='songs_url'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('songs_duration')">Song duration
                <span class="glyphicon sort-icon" ng-show="sortKey=='songs_duration'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="d in data|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
            <td>{{d.id}}</td>
            <td>{{d.movie}}</td>
            <td>{{d.icon}}</td>
            <td>{{d.name}}</td>
            <td>{{d.actors}}</td>
            <td ng-init="arr=(d.artist).split(',')">
                <p ng-if="!(arr.length>5)" >
                {{d.artist}}
                </p>
                <p ng-if="arr.length>5"  >
                    {{arr[0]+","+arr[1]+","+arr[2]+","+arr[3]+","+arr[4]}}
                <strong ng-click="showAlert($event,d)" >
                    read more...
                </strong>
                </p>
            </td>
            <td>{{d.releasedon}}</td>
            <td>{{d.songs_url}}</td>
            <td>{{d.songs_duration}}</td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls
        max-size="5"
        direction-links="true"
        boundary-links="true" >
    </dir-pagination-controls>